<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>gro-city</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../styles/plants.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script defer src="../bundle.js" type="application/x-javascript"></script>
  <!-- <script defer src="../scripts/render/plants.js" tsype="application/x-javascript"></script>
  <script defer src="../scripts/templates/template.js" type="application/x-javascript"></script> -->
  <meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">gro-city</a>
    </div>
  </nav>

  <div class="row">

    <div class="col s12 m4 l3 filter-div z-depth-4">
      <!-- Grey filter panel -->
      <h6>Filter By: </h6>
      <form class="filter-form" action="index.html" method="post">
        <div class="row">
          <div class="input-field col s10">
            <label for="scientific-name">Scientific Name</label>
            <input id="scientific-name" type="text" class="validate">
          </div>

          <div class="duration-div col s10">
            <p>Duration</p>
            <div class="duration-radio-div">
              <p>
                <label>
                <input value="Annual" name="duration" type="radio" checked />
                <span>Annual</span>
              </label>
              </p>
              <p>
                <label>
                <input value="Biennial" name="duration" type="radio"  />
                <span>Biennial</span>
              </label>
              </p>
              <p>
                <label>
                <input value="Perennial" name="duration" type="radio" />
                <span>Perennial</span>
              </label>
              </p>
            </div>
          </div>

          <div class="growth-habit input-field col s10">
            <select>
              <option value="" disabled selected>Choose Growth habit</option>
              <option value="Tree">Tree</option>
              <option value="Shrub">Shrub</option>
              <option value="Vine">Vine</option>
              <option value="Forb/herb">Forb/herb</option>
              <option value="Graminoid">Graminoid</option>
              <option value="Subshrub">Subshrub</option>
            </select>
          </div>

          <div class="active-growth-period input-field col s10">
            <select>
            <option value="" disabled selected>Choose active growth period</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
          </select>
          </div>

          <div class="flower-color input-field col s10">
            <select>
            <option value="" disabled selected>Choose flower color</option>
            <option value="White">White</option>
            <option value="Yellow">Yellow</option>
            <option value="Brown">Brown</option>
            <option value="Green">Green</option>
            <option value="Red">Red</option>
            <option value="Purple">Purple</option>
          </select>
          </div>

          <div class="flower-conspicuous-div col s10">
            <p>Flower Conspicuous</p>
            <div class="flower-conspicuous-radio-div">
              <p>
                <label>
                <input value="Yes" name="flower-conspicuous" type="radio" checked />
                <span>Yes</span>
              </label>
              </p>
              <p>
                <label>
                <input value="No" name="flower-conspicuous" type="radio"  />
                <span>No</span>
              </label>
              </p>
            </div>
          </div>

          <div class="soil-type col s10">
            <p>Soil Type</p>
            <div class="soil-type-radio-div">
              <p>
                <label>
                <input value="Medium" class="soil medium" name="soil" type="radio" checked />
                <span>Medium</span>
              </label>
              </p>
              <p>
                <label>
                <input value="Course" class="soil coarse" name="soil" type="radio" />
                <span>Coarse</span>
              </label>
              </p>
              <p>
                <label>
                <input value="Fine" class="soil fine" name="soil" type="radio" />
                <span>Fine</span>
              </label>
              </p>
            </div>
          </div>

          <div class="moisture-level input-field col s10">
            <select>
            <option value="" disabled selected>Choose moisture level</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          </div>

          <div class="shade-tolerance col s10">
            <p>Shade Tolerance</p>
            <div class="shade-tolerance-radio-div">
              <p>
                <label>
                <input value="Tolerant" class="shade medium" name="shade" type="radio" checked />
                <span>Tolerant</span>
              </label>
              </p>
              <p>
                <label>
                <input value="Intolerant" class="shade coarse" name="shade" type="radio" />
                <span>Intolerant</span>
              </label>
              </p>
              <p>
                <label>
                <input value="Intermediate" class="shade fine" name="shade" type="radio" />
                <span>Intermediate</span>
              </label>
              </p>
            </div>
          </div>

          <p class="range-field col s10">Temperature Minimum(°F)
            <input type="range" id="test5" min="-79" max="52" />
          </p>

          <div class="bloom-period input-field col s10">
            <select>
            <option value="" disabled selected>Choose bloom period</option>
            <option value="Early Spring">Early Spring</option>
            <option value="Spring">Spring</option>
            <option value="Mid Spring">Mid Spring</option>
            <option value="Late Spring">Late Spring</option>
            <option value="Early Summer">Early Summer</option>
            <option value="Summer">Summer</option>
            <option value="Mid Summer">Mid Summer</option>
            <option value="Late Summer">Late Summer</option>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
            <option value="Late Winter">Late Winter</option>
            <option value="Indeterminate">Indeterminate</option>
          </select>
          </div>
        </div>
      </form>
    </div>

    <div class="col s12 m8 l9">
      <div class="row plant-cards-container">

      </div>
      <ul class="pagination">
        <!-- <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li> -->
        <li class="active"><a href="#!">1</a></li>

        <!-- <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li> -->
      </ul>
    </div>

  </div>

  <footer class="page-footer teal" style="position: fixed; bottom: 0px; width: 100%;">
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Gro.City</a>
      </div>
    </div>
  </footer>
</body>

</html>
