body {
  background: url(https://images.unsplash.com/photo-1506816733660-e5ef3ddb7e28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9486e96aaf97d2f5ced213a79c16045&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  background: rgba(0, 0, 0, 0.2);
}

.board-card {
  background: rgba(255,255,255, 0.5);
}

.plant-image {
  height: 400px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

span.card-title.activator {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px !important;
  text-align: center;
}

footer {
  z-index: 100;
}
