nav {
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.5)
}

.card .card-action {
  background: #39755A
}

.filter-div {
  height: 81vh;
  position: fixed;
  top: 9%;
  left: 0px;;
}

.filter-div-header{
  display: flex;
  justify-content: space-between;
}

.filter-div-header:nth-child(2){
  color: #03A9F4;
}

.plant-view {
  margin-left: 25% !important;
  margin-top: 5% !important;
}

.dropdown-content {
  width: 200px !important;
}

.filter-div:hover {
  overflow-y: auto;
}

.filter-form .row .col {
  margin: 0px;
}

.duration-radio-div, .flower-conspicuous-radio-div, .soil-type-radio-div, .shade-tolerance-radio-div {
  display: flex;
}

.plant-card-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
}

.card-info {
  margin-top: 16px;
  padding-right: 10px;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
  padding-left: 25px !important;
}

.filter-div * {
  font-size: medium !important;
}

.row .col.l3 {
  width: 23% !important;
}

.pagination {
  justify-content: center;
  padding-bottom: 100px;
  margin: auto;
}

.plant-image {
  height: 400px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

span.card-title.activator {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px !important;
  text-align: center;
}

footer {
  z-index: 100;
}
